# Ignore everything
*

# Allow git config files and license
!.gitignore
!LICENSE
!README.md

# Unignore folder chain explicitly
!extracted/

!extracted/main-dist/
!extracted/main-dist/zablind.js
!extracted/main-dist/preload-wrapper.js

!extracted/pc-dist/
!extracted/pc-dist/popup-viewer.html

!docs/
!docs/index.html
