# Ignore everything
*

# But NOT these files
!LICENSE
!.gitignore
!extracted/main-dist/zablind.js
!extracted/main-dist/preload-wrapper.js

# Also include folders leading to the scripts
!extracted/main-dist
